<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventoryDataLayer.Properties.Settings.retailmgmtConnectionString"
            connectionString="Data Source=199.103.60.77;Initial Catalog=retailmgmt;User ID=retailmgmt;Password=dgQDR9q8THTgalP"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>